<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/">
                <div style="display: flex; flex-direction: row; cursor: pointer; align-items: center; justify-content: center;
                width: 200px;">
                    <div style="margin-right: 10px;">
                        <img src="{{{cdn}}}/images/logo.png" style="height: 50px; width: 50px; border: none; border-radius: 50%;">
                    </div>
                    <h3>Mental Fit</h3>
                </div>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <!--<li class="menu-title">Navigation</li>-->

                <li>
                    <a href="/">
                        <i class="fi-air-play"></i><span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="/posts">
                        <i class="fi-clock"></i><span> Latest Posts </span>
                    </a>
                </li>

                <!-- <li>
                    <a href="/addroom">
                        <i class="fi-circle-plus"></i><span> Add Room </span>
                    </a>
                </li> -->

                <li>
                    <a href="/rooms">
                        <i class="fi-layers"></i><span> All Rooms </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fi-ribbon"></i> <span> Subscribed Rooms </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        {{#rooms}}
                        <li><a href="/room/{{slug}}">{{category}}</a></li>
                        {{/rooms}}
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fi-stack"></i> <span> Apps </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        {{#user}}
                        <!-- logged in -->
                        <li><a href="/apps/todo">Todo Task List</a></li>
                        {{/user}}

                        {{^user}}
                        <!-- not logged in -->
                        <li><a href="javascript:alert('Error','Must be logged in!')">Todo Task List</a></li>
                        {{/user}}
                    </ul>
                </li>


            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
